
.home-container {
    padding: 1.5rem;

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.25rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 1.5rem;
    }

    .loading-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem;
    }

    .focus-reset {
        display: flex;
        outline: none;
    }

    @media (min-width: 768px) {
        .home-container {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        .grid {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    @media (min-width: 1200px) {
        .grid {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    @media (min-width: 1600px) {
        .grid {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
}