.recipe-card-link {
    background-color: white;
    /* color: white; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    min-width: 275px;
    text-decoration: none;
    color: inherit;

    img {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        margin-bottom: .5rem;
    }

    .content {
        padding: 0 1rem;

    }

    .button-container {
        display: flex;
        justify-content: flex-end;
    }

    .button {
        margin: 0 1rem 1rem 1rem;
    }

    .details {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .details p {
        font-size: 0.875rem;
    }

    .button {
        margin-top: 1rem;
    }

    .view-recipe {
        cursor: pointer;
        border-radius: 0.5rem;
        padding: .5rem 1rem;
        border: 1px solid #d1d5db;
        background-color: #3b82f6;
        color: white;
    }

    .view-recipe:hover {
        background-color: #2563eb;
    }

    .recipe-card-link:hover {
        text-decoration: none;
    }
}