.recipe-modal-overlay {
    /* background-color: rgba(55, 65, 81, 0.5); */
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;

    .recipe-modal {
        background-color: white;
		margin: 3rem 1rem;
		width: 40rem;
		min-width: 275px;
		border-radius: 0.5rem;
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        color: white;
		padding: 1rem;
        border-radius: .5rem .5rem 0 0;
        border-bottom: 1px solid #d1d4db;
        background-color: #3b82f6;
    }

    .modal-content {
        padding: 1rem;
        overflow-y: auto;
    }

    .modal-footer {
        display: flex;
        padding: 0 1rem 1rem 1rem;
        justify-content: flex-end;
    }

    .modal-title {
        font-size: 1.5rem;
        font-weight: bold;
        align-content: center;
    }

    .close-icon {
        height: 100%;
    }

    .button-square {
        height: 40px;
    }
    .label {
        display: block;
        font-weight: 600;
    }

    .input, .textarea, .select {
        margin-bottom: 1rem;
        max-width: 100%;
        padding: 0.5rem;
    }

    .notes {
        margin-bottom: 0;
    }
}