.recipe-modal-overlay {
    /* background-color: white; */
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(55, 65, 81, 0.5); */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* overflow: auto; */
    z-index: 1000;

    .recipe-modal {
        background-color: white;
		margin: 2rem 1rem;
		display: flex;
		flex-direction: column;
		width: 50%;
        height: auto;
		max-height: 90vh;
		min-width: 275px;
		padding: 1rem 0;
		border-radius: 0.5rem;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .modal-header {
        padding: 0 1rem;
    }

    .modal-content {
        /* background-color: #292929; */
        margin-bottom: 1rem;
        padding: 1rem;
        overflow-y: auto;
    }

    .modal-footer {
        display: flex;
        padding: 0 1rem;
        justify-content: flex-end;
    }

    .modal-title {
        font-size: 1.5rem;
        font-weight: bold;
        /* margin-bottom: 1rem; */
    }

    .label {
        display: block;
        font-weight: 600;
    }

    .input, .textarea, .select {
        /* background-color: #374151; */
        margin-bottom: 1rem;
        width: 100%;
        padding: 0.5rem;
        /* border: 1px solid #4b5563; */
        /* border-radius: 0.25rem; */
    }

    .textarea {
        min-height: 4rem;
    }

    .notes {
        margin-bottom: 0;
    }

    .button-cancel {
        background-color: transparent;
        color: #191919
    }

    .button-save {
        margin-left: 1rem;
    }
}